/* jost-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jost-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Jost';
}
.top-txt{
  color: #707070;
  font-size: 14px;
  padding: 15px 30px 10px 0px;
}
.top-txt1{
  font-size: 16px;
  padding: 15px 0px 10px 0px;
  text-align: end;
}
.top-txt1 a i{
  color: #707070;
  padding-right: 7px;
  transition: .3s;
}
.top-txt1 a i:hover{
  color: #ff6e68;
}